* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", monospace;
  font-size: 18px;
}
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  margin-top: 25px;
}

table {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.red {
  color: red;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}
table,
th,
td {
  border: 1px solid #dddddd;
}

th,
td {
  font-size: 30px;
  font-weight: 500;

  padding: 10px;
}

th {
  /* background-color: #f2f2f2; */
}

td {
}
